<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a href="/home" class="btn btn-warning back">Trở lại</a>
            <div class="image-section col-12">
<% 
    if(currentUser.background === "default-bg.png"){  
%> 
                <img src="img/<%= currentUser.background; %> " alt="anh bia">
<% 
    }else if(currentUser.background === "bg-user.jpg"){
%> 
                <img src="PhotosOfId<%=currentUser.id;%>/bg-user.jpg" alt="anh bia">
<% 
    }
%> 
                <div class="changeBackground">
                    <a href="#" class="btn btn-dark">Upload</a>
                </div>
<script>
    $(".changeBackground").on("click", function(){
        $(".form-upload-background").addClass("appear");
        $(".block-fullscreen-gray").addClass("appear");
    });
</script>
            </div>
            <div class="row user-profile col-12">
                <div class="user-profile-left col-sm-4 col-12">
                    <div class="avatar">
<% 
    if(currentUser.avatar === "default-avatar.png"){  
        console.log(currentUser.avatar);
%> 
                        <img src="img/<%= currentUser.avatar; %>" alt="avatar" class="rounded-circle">
<%
    }else if(currentUser.avatar === "avatar-user.jpg"){
%>
                        <img src="PhotosOfId<%=currentUser.id;%>/avatar-user.jpg" alt="avatar" class="rounded-circle">
<%
    }
%>
                        <div class="changeAvatar">
                            <a href="#" class="btn btn-dark">Upload</a>
                        </div>
<script>
    $(".changeAvatar").on("click", function(){
        $(".form-upload-avatar").addClass("appear");
        $(".block-fullscreen-gray").addClass("appear");
    });
</script>
                    </div>
                    <p class="display-name"><%=currentUser.name;%></p>
                    <p>Photos: <%=listOfPhotos.length;%></p>
                    <a href="#" class="btn btn-success btn-upload">Upload Photo</a>
<script>
    $(".btn-upload").on("click", function(){
        $(".form-upload-photo").addClass("appear");
        $(".block-fullscreen-gray").addClass("appear");
    });
</script>
                    <button class="btn btn-primary mt-10">Message Box</button>
                </div>
                <div class="user-profile-right col-sm-8 col-12">
                    <div class="row">
                        <div class="col-12">
                            <h1>PROFILE</h1>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#information">Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#photos">Photos</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane container fade" id="information">
                                    <div>
 					Địa chỉ email: <span><%=currentUser.email;%></span>
				    </div>
				    <div>
 					Số điện thoại: <span><%=currentUser.phone;%></span>
				    </div>
                                </div>
                                <div class="container-fluid tab-pane active" id="photos">
                                    <div class="row">
<%
    listOfPhotos.forEach(photo => {
%>
                                        <div class="col-4 position-rela block<%=photo.id;%>">
                                            <img src="PhotosOfId<%=currentUser.id;%>/<%=photo.name;%>.<%=photo.extension;%>" alt="photo">
                                            <a href="/delete-photo/<%=photo.id;%>" class="btn btn-warning">Xóa</a>
                                            <div class="block-fullscreen-photo">
                                                
                                            </div>
                                        </div>
<%         
    });
%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="block-fullscreen-gray">
            
        </div>
        <div class="row form-upload-avatar">
            <div class="col-12">
                <a href="#" class="x-button"><i class="fas fa-times"></i></a>
            </div>
            <div class="col-lg-8 col-12">
                <form action="/upload-avatar" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-lg-2 col-12">
    
            </div>
        </div>
        <div class="row form-upload-background">
            <div class="col-12">
                <a href="#" class="x-button"><i class="fas fa-times"></i></a>
            </div>
            <div class="col-lg-8 col-12">
                <form action="/upload-background" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-lg-2 col-12">
    
            </div>
        </div>
        <div class="row form-upload-photo">
            <div class="col-12">
                <a href="#" class="x-button"><i class="fas fa-times"></i></a>
            </div>
            <div class="col-lg-8 col-12">
                <form action="/upload-photo" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-lg-2 col-12">
    
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(".x-button").on("click", function(){
        $(".form-upload-avatar").removeClass("appear");
        $(".block-fullscreen-gray").removeClass("appear");
        $(".form-upload-background").removeClass("appear");
        $(".form-upload-photo").removeClass("appear");
    });
</script>